* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {
    margin-top: 30px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    background: cornflowerblue;
    border-radius: 50%;
    /* animation */
    /* animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; */
    /* animation-fill-mode: both;
    animation-delay: 2s;  */
    /* animation-timing-function: linear; */

    animation: alternate infinite move 3s;
}

/* .circle:hover{
    animation-play-state: paused;
} */

@keyframes move {

    0% {
        transform: translate(0);
        background-color: crimson;
    }

    25% {
        transform: translate(100%);
        background-color: salmon;
    }

    50% {
        transform: translate(100%, 100%);
        background-color: slateblue;
    }

    75% {
        transform: translate(0, 100%);
        background-color: teal;
    }

    /* from {
        background-color: crimson;
    }

    to {
        background-color: teal;
    } */
}